* {
  margin: 0px;
  padding: 0px;
  font-family: "Urbanist", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(334deg, #ffff, #039b99, #02273a);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
  overflow: hidden;
}

.aboutme {
  transform: translateY(-5vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutme__img {
  display: flex;
  justify-content: center;
  z-index: 2;
  align-self: center;
  width: 25%;
  transform: translateY(9vw);
  box-sizing: content-box;
}
.aboutme__card__name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5.8vh;
}
h2 {
  padding-top: 2vh;
  font-size: 3vh;
}
.aboutme__card__text {
  padding-top: 2vh;
  font-size: 2vh;
  line-height: 2.5vh;
}

.aboutme__img img {
  border-radius: 50%;
  width: 50%;
  box-shadow: 2px 6px 7px #232c3086;
}
.aboutme__card {
  margin-top: 5vw;
  margin-right: 27vw;
  margin-left: 27vw;
  padding: 5vw;
  background-color: #ffff;
  border-radius: 0.5vw;
}
.aboutme__card__links {
  padding-top: 3vh;
  width: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutme__card__links__icon {
  width: 45px;
}
.aboutme__card__links__icon:hover {
  opacity: 0.7;
}
@media (max-width: 1024px) {
  .aboutme {
    transform: translateY(-15vw);
  }
  .aboutme__card {
    margin-right: 5vw;
    margin-left: 5vw;
    padding-top: 20vw;
  }
  .aboutme__img {
    align-self: flex-end;
    padding-right: 2vw;
    width: 40%;
    transform: translateY(25vw);
    box-sizing: content-box;
  }
  .aboutme__img img {
    width: 100%;
  }
  .aboutme__card__text {
    padding-top: 2vh;
    font-size: 2.2vh;
    line-height: 2.8vh;
  }
  .aboutme__card__links__icon {
    width: 35px;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 52%;
  }
  100% {
    background-position: 0% 52%;
  }
}
